In [96]:
import pandas as pd
from datetime import datetime, timedelta

df = pd.read_excel(
    'test.xlsx',
    dtype={'data':str}
)

In [33]:
df.head()

     data  relacja
0  202101        1
1  202102        1
2  202103        1
3  202104        1
4  202105        1

In [97]:
def month_back(date, n_months=1):
    
    date_temp = datetime.strptime(str(date), '%Y%m')
    
    for _ in range(n_months):
        date_temp = date_temp - timedelta(days=1)
        date_temp = datetime(date_temp.year, date_temp.month, 1)
    
    return date_temp.strftime('%Y%m')

In [117]:
def start_relacji(df_temp):
    
    df_temp = df_temp.copy()
    # Tutaj możesz sobie dorzucić jakieś filtrowanie tego df-a
    # i wrzucać warunki jako argumenty funkcji, np. handlowca czy coś
    
    for i in range(1, 4):
    
        df_temp[f'data_temp'] = df_temp['data'].apply(month_back, n_months=i)
        
        df_temp = (df_temp
            .merge(
                right=df_temp[['data','relacja']],
                left_on='data_temp',
                right_on='data',
                how='left',
                suffixes=['',f'_{i}m_back']
            )
            .drop(columns=[f'data_{i}m_back','data_temp'])
        )
        
    con_1 = df_temp.relacja == 1
    con_2 = df_temp.relacja_1m_back == 0
    con_3 = df_temp.relacja_2m_back == 0
    con_4 = df_temp.relacja_3m_back == 0
    
    return df_temp[con_1 & con_2 & con_3 & con_4].data.max()

start_relacji(df)

'202303'